<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets 
		and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/root-context.xml
			/WEB-INF/spring/security-context.xml
			/WEB-INF/spring/message-context.xml
		</param-value>
	</context-param>

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- SERVLET -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- security filter -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Encoding 설정 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<!-- Encoding 설정 -->
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- SERVLET URL-PATTERN .do 명시 -->
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- SERVLET URL-PATTERN .api 명시 -->
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>*.api</url-pattern>
	</servlet-mapping>

	<!-- WELCOME PAGE -->
	<welcome-file-list>
		<!-- <welcome-file>/</welcome-file> -->
		<!-- <welcome-file>index.jsp</welcome-file> -->
		<welcome-file>/WEB-INF/index.jsp</welcome-file>
	</welcome-file-list>

	<!-- ERROR PAGE -->
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error/uncaughtException.do</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/dataAccessFailure.do</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/error/resourceNotFound.do</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error/resourceNotFound.do</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/error/resourceNotFound.do</location>
	</error-page>

</web-app>
